<h1>Make your form here</h1>

<form action="/pirates" method="POST">
<p>Pirate Name: <input type="text" name="pirate[name]" value=""></p>
<p>Pirate Weight: <input type="text" name="pirate[weight]" value=""></p>
<p>Pirate Height: <input type="text" name="pirate[height]" value=""></p>
<p>Ship Name: <input id="ship_name_1" type="text" name="pirate[ships][][name]"></p>
<p>Ship Type: <input id="ship_type_1" name="pirate[ships][][type]"></p>
<p>Ship Booty: <input id="ship_booty_1" name="pirate[ships][][booty]"></p>
<p>Ship Name: <input id="ship_name_2" name="pirate[ships][][name]"></p>
<p>Ship Type: <input id="ship_type_2" name="pirate[ships][][type]"></p>
<p>Ship Booty: <input id="ship_booty_2" name="pirate[ships][][booty]"></p>
<p><input type="submit" value="Submit"></p>

</form>
